body,ul,ol,li{
	margin:0;
	padding:0;
}

body{padding:0px;background: url('../images/long_logo.png') no-repeat right top;background-color:white;background-repeat:no-repeat;margin:0;font-family:'Trebuchet Ms', 'Yanone Kaffeesatz', Lato, Lobster, 'Lobster Two','Droid Sans', Arial ;font-size:12px;}
#container{margin:0px auto;padding:10px 20px;}
#header{width:100%;margin:0;padding:0;border-botton:thin solid #efefef;}
#logo{width:1000px;margin:0 auto;color:#231e18;height:150px;}
#nav_bg{background:brown;width:100%;padding-top:4px;}

#login{
	margin:auto auto;
	margin-top:-30px;
	background-color:white;
	/*border:thin solid #eeeeee;*/
	padding:10px;
	width:300px;
	-webkit-box-shadow: 0px -7px 10px rgba(50, 50, 50, 0.29);
	-moz-box-shadow: 0px -7px 10px rgba(50, 50, 50, 0.29);
	box-shadow: 0px -7px 10px rgba(50, 50, 50, 0.29);
}
#form{margin:0 auto;margin-left:40px;}

.box{width:726px;margin:0;padding:0;}

#identity{font-weight:bold;text-align:right;padding:10px 10px;padding-left:0px;}

p{margin-left:40px;}

input.clean{padding:4px;border:1px solid #231e18;width:200px;}

#login input.form{width:250px;}

table{width:100%;text-align:left;margin:20px 0;clear:both;}
/*
table tr.alt{background:#ECECEC;}
table thead tr{background:#EEE;}
*/

a{color:#231e18;margin-right:10px;}

.error{
	border:thin solid orange;
	background-color:red;
	padding:8px;
	width:400px;
}

.button_nav{
	display:block;
	height:40px;
	text-align:right;
}

button {
	height:31px;
}

.button {
	padding:9px;
	background-color:orange;
	border:thin solid grey;
	text-decoration:none;
	clear:both;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.add {
	font-weight:bold;
	padding-left:28px;
	background: transparent url('../images/icons/16x16/add.png') no-repeat 8px center;
}

.clear{
	clear:both;
}

#nav_container{
	display:block;
	overflow:auto;
}

#breadcrumb{
	padding:8px;
	padding-left:20px;
	margin-top:15px;
}

#breadcrumb a{
	margin-left:0px;
}

.dispatcher{
	display:block;
	text-align:center;
	padding:4px 2px;
	background-color:#999;
	color:white;
	cursor:pointer;
}

.red{
	color: white;
	font-weight:bold;
	display: block;
	background-color: red;
	padding: 3px;
}

.blue{
	color: white;
	font-weight:bold;
	display: block;
	background-color: blue;
	padding: 3px;
}

.maroon{
	color: white;
	font-weight:bold;
	display: block;
	background-color: maroon;
	padding: 3px;
}

.brown{
	color: white;
	font-weight:bold;
	display: block;
	background-color: brown;
	padding: 3px;
}

.green{
	color:white;
	font-weight:bold;
	display: block;
	background-color: green;
	padding: 3px;
}

.yellow{
	color:white;
	font-weight:bold;
	display: block;
	background-color: yellow;
	padding: 3px;
}

.black{
	color:white;
	font-weight:bold;
	display: block;
	background-color: black;
	padding: 3px;
}

.orange{
	color:white;
	font-weight:bold;
	display: block;
	background-color: orange;
	padding: 3px;
}


td .cancel_link{
	text-decoration:underline;
}

div.oi.error{
	margin:0px;
	width:100%;
}

fieldset {
	display: block;
	background-color: #EEE;
	border: 0px;
	margin-top:10px;
	width:500px;
}

fieldset legend {
	font-weight: bold;
	font-size: 120%;
	background-color: #fff;
	display: block;
	padding: 3px 6px;
}

#registration {
	background-color: maroon;
	padding:10px;
	color: #fff;
	margin-top:10px;
}

#registration a {
	color: orange;
}

#flash_message{
	display: block;
	position: absolute;
	top:0;
	text-align:center;
	width:100%;
}

.oi{
	display: block;
	padding:10px;
	width:100%;
	background-color: #efefef;
	margin: auto;
}

.badge{
	background-color: white;
	font-weight: normal;
	padding: 2px;
	font-size: 11px;
	color: maroon;
}

#sendingorder, #sendingstatus{
	position: absolute;
	display: block;
	bottom: 0px;
	right:0px;
	display: block;
	padding: 10px;
	background-color: white;
	border-top: thin solid #ccc;
	border-left: thin solid #ccc;
}

td.total{
	border-top:thin solid #222;
}

td.count{
	text-align: center;
}

td.currency{
	text-align: right;
}

.reportTable th{
	text-align: center;	
}

.reportTable thead{
	background-color: #777;
	color: white;
}